.registration-form {
    padding: 10px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 3px; /* Reduced border radius */
    /* width: 500px; 
    height: 950px; */
  }
  
  .registration-form .form-label {
    text-align: left;
    display: block; /* Display each label on a new line */
  }
  
  /* Styles for the submit button */
  .registration-form button[type="clear"]{
    padding: 5px 10px; /* Adjust padding to make the button smaller */
    margin:  5px;
    font-size: 14px; /* Adjust font size if needed */
    width: 100px; /* Set width to 200px */
    height: 50px;
  }
  .registration-form button[type="submit"] {
    margin: 5px 10px;
    padding: 5px 10px; /* Adjust padding to make the button smaller */
    font-size: 14px; /* Adjust font size if needed */
    width: 100px; /* Set width to 200px */
    height: 50px;
  }
  
  